---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">About</h3>
<div dir="auto" class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    <p class="archive__item-excerpt" itemprop="description">
Hydro IT offers IT infrastructure design, commission and migration services to enterprises and medium size businesses.
To learn more about the service offering and technologies we specialize in, please see the 
articles below, or contact directly by <a href="mailto:hello@h2it.uk">Email</a> or telephone <a href="tel:+447873525044">+44(0)7873525044</a>.
    </p>
  </article>
</div>
<img src="/assets/images/servers_gif.gif">
<h3 class="archive__subtitle">Recent Articles</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
