---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">About</h3>
<div dir="auto" class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    <p class="archive__item-excerpt" itemprop="description">
Hydro IT LTD was founded by Gidi Marcus, a storage and Microsoft consultant based in London, UK.
The company offer IT infrastructure design, commission and migration services to enterprises and medium size businesses.
To learn more about the service offering and technologies we specialize in, please see the 
articles below, Gidi's <a href="https://www.linkedin.com/in/gidimarcus/">LinkedIn page</a> or contact us by <a href="mailto:hello@h2it.uk">Email</a>.
    </p>
  </article>
</div>

<br><h3 class="archive__subtitle">Recent Articles</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
